<div class="da-media" class="thumbnail">
    <img src="{{ dacorpmedia.url | generateMediaUrl(dacorpmedia.filename,'large') }}"/>
    {#<a rel="tooltip" title="Download Original" class="download thumbnail-action btn" target="download" href="{{ dacorpmedia.url | generateMediaUrl(dacorpmedia.filename,'originals') }}">#}
        {#<i class="icon-download"></i>#}
    {#</a>#}
</div>

